<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Portal</title>
</head>
<body>
    <form method="POST" action="/assign-privilege">
        <h3>Enter User to assign privilege</h3>
        <div>
            <label>Enter Username</label>
            <input name="username" type="text" placeholder="Username" required/>
        </div>
        <div style="margin-top:2em">
            <button type="submit">Submit</button>
            <button type="reset">Clear</button>
        </div>
    </form>
</body>
</html>